<div class="container page-todo bootstrap snippets bootdeys">
    <div class="col-sm-auto tasks">
        <div class="task-list main_text">
            <h3>Мои данные</h3>
        </div>
        <div class="dashboard">
            <span class="dashboard span">Статистика</span> 
        </div>	
    </div>
    <div class="col-sm-auto stats">
        <h3>Задачи</h3>
        <br>
        {% for key, values in tasks.items %}
            {% if key == 'most_subtasks' %}
                <p>
                    {{ values.0 }} <a href="{% url 'tasks:get_task' request.user values.1.pk %}">{{ values.1.title }}</a>. Количество - {{ values.1.subtasks }}
                </p>
            {% else %}
                <p>{{ values.0 }} {{ values.1 }}</p>
            {% endif %}

        {% endfor %}
        
        <h3>Подзадачи</h3>
        <br>
        {% for key, values in subtasks.items %}
            <p>{{ values.0 }} {{ values.1 }}</p>
        {% endfor %}
        
    </div>
</div>

