{% load static %}

<div class="container page-todo bootstrap snippets bootdeys">
    <div class="col-sm-auto tasks">
        <div class="task-list main_text">
            <h3>Мои данные</h3>
        </div>
        <div class="dashboard rounded">
            <span class="dashboard span rounded">Статистика</span> 
        </div>	
    </div>
    <div class="col-sm-auto stats">
        <br>

        {% include 'user_profile/carousel.html' %}
        
        <hr class="horizontal-gradient">

        <h3>Задачи</h3>

        <div id="air_tasks" style="width: 700px; height: 500px;">
            {% include 'user_profile/diag_tasks.html' %}
        </div>

        <hr class="horizontal-gradient">

        <h3>Подзадачи</h3>

        <div id="air_subtasks" style="width: 700px; height: 500px;">
            {% include 'user_profile/diag_subtasks.html' %}
        </div>
    </div>
</div>

