<div class="container page-todo bootstrap snippets bootdeys">
<div class="col-sm-auto tasks">
    <div class="task-list">
        <h2>Добавить задачу</h2>

        <form method="post">
            {% csrf_token %}

            {% for i in create_task_form %}
                {% if i.name == 'description' %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">{{ i.label }}</label>
                    <textarea name="{{ i.name }}" class="form-control" id="{{ i.name }}" rows="3"></textarea>
                  </div>
                
                {% elif i.name != 'importance' %}
                    <div class="form-group">
                        <label for="{{ i.name }}">{{ i.label }}</label>
                        <input name="{{ i.name }}" min="2024-05-26" type="{{ i.widget_type }}" class="form-control" id="{{ i.name }}" placeholder="{{ i.help_text }}">
                    </div>

                {% else %}
                    <label for="{{ i.name }}">{{ i.label }}</label>
                    <select name="{{ i.name }}" class="form-select" aria-label="Default select example">
                        <option selected>Выбери приоритет задачи</option>
                        <option value="H">Важно</option>
                        <option value="M">Средне</option>
                        <option value="L">Не важно</option>
                    </select>
                {% endif %}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-outline-success">Добавить</button>
          </form>
         
        <br>
        <br>
        <div class="dashboard"><span class="dashboard span">Ближайшие задачи</span></div>

        {% for task in upcoming_tasks %}
            <div class="dashtask task">
                <div class="desc">
                    <div class="title">
                       <a href="{% url 'tasks:get_task' request.user task.id %}">{{ task.title|truncatechars:30 }}</a>
                    </div>
                    <div>{{ task.description|truncatechars:255 }}</div>
                </div>
                <div class="time">
                    <div class="date">{{ task.due_date }}</div>
                    <div>Осталось дней: {{ task.days_left }}</div>
                    <div>{{ task.get_importance_display }}</div>
                </div>
            </div>
        {% endfor %}
        <div class="clearfix"></div>		
    </div>		
</div>
</div>