{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <h2 class="text-uppercase text-center mb-5 text-muted">Создайте аккаунт</h2>
                            <form method="post">
                                {% csrf_token %}
                                
                                {% for f in form %}
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="{{ f.widget_type }}" id="form{{ f.name }}" class="form-control form-control-lg" name="{{ f.name }}" id="{{ f.name }}" placeholder="{{ f.help_text }}"/>
                                        <label class="form-label" for="form{{ f.name }}">{{ f.label }}</label>
                                    </div>
                                {% endfor %}

                                <div class="d-flex justify-content-center">
                                <button  type="submit" data-mdb-button-init
                                    data-mdb-ripple-init class="my_btn gradient-custom-4">Регистрация</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Уже есть аккаунт? <a href="{% url 'users:login_user' %}"
                                    class="fw-bold text-body"><u>Войдите здесь</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}