{% extends 'base.html' %} 

{% load static %} 

{% block title %}Мои модзадачи{% endblock %}

{% block head %}{% endblock %} 

{% block content %}
<div class="bg_sidebar">
    {% include 'sidebar.html' %}
</div>

<div class="wrapper">
    <div class="left_block">
        <div class="container page-todo bootstrap snippets bootdeys">
            <div class="col-sm-auto tasks rounded">
                <div class="task-list">
                    <h2 class="text-center">Подзадачи</h2>
                    <br/>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <span class="activity-done"
                                    >Всего: {{ subtasks|length }}</span
                                >
                            </div>
                            {% if subtasks|length > 0 %}
                                <div class="col-sm-3">Выполнена:</div>
                            {% endif %}
                        </div>

                        {% for sub in subtasks %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div
                                        class="d-flex justify-content-between align-items-center activity"
                                    >
                                        <div class="icons">
                                            <i class="fa fa-search"></i
                                            ><i class="fa fa-ellipsis-h"></i>
                                        </div>
                                    </div>
                                    <div class="mt-3 custom-width">
                                        <ul class="list">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <li class="d-flex justify-content-between">
                                                            <div
                                                                class="d-flex flex-row align-items-center"
                                                            >
                                                                <i
                                                                    class="fa fa-check-circle checkicon"
                                                                ></i>
                                                                <div class="ml-2">
                                                                    <p class="text-info">
                                                                        Родительская задача: 
                                                                        <a href="{% url 'tasks:get_task' request.user.username sub.parent_task.id %}">
                                                                            {{ sub.parent_task }}
                                                                        </a>
                                                                    </p>

                                                                    <h6 class="mb-1">
                                                                        {{ sub.title }}
                                                                    </h6>
                                                                    <div class="box text-black-50">
                                                                        <div>
                                                                            <i class="fa fa-calendar-o"></i>
                                                                            <span class="ml-2">{{ sub.description }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="d-flex flex-column">
                                                                    <span class="date-time">
                                                                        {% if sub.completed%}
                                                                            Да
                                                                        {% else %}
                                                                            Нет
                                                                        {% endif %}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="col-1 delete_all_sub">
                                                        <a href="#" onclick="confirm_delete_sub('{{ sub.id }}');">
                                                            <img 
                                                                class="delete" 
                                                                src="{% static 'svg/delete.svg' %}"
                                                            />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <script>
                function confirm_delete_sub(subtask_id) {
                    var r = confirm("Удалить подзадачу?");
                    {
                        if (r == true) {
                            window.location.href =
                                "{% url 'tasks:delete_subtask' 0 %}".replace(
                                    "0",
                                    subtask_id
                                );
                        }
                    }
                }
            </script>
        </div>
    </div>
</div>
{% endblock %}
