<div class="container page-todo bootstrap snippets bootdeys">
    <div class="col-sm-auto tasks rounded">
        <div class="task-list">
            <h2>Задача</h2>
            <form method="post">
                {% csrf_token %}
    
                {% for i in update_form %}
                    {% if i.name == 'description' %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">{{ i.label }}</label>
                            <textarea  name="{{ i.name }}" class="form-control" id="{{ i.name }}" rows="3">{{ task.description }}</textarea>
                        </div>
                        

                    {% elif i.name in disable_list %}
                        <div class="form-group">
                            <label for="{{ i.name }}">{{ i.label }}</label>
                            <input disabled
                                    class="form-control"
                                    name="{{ i.name }}" 
                                    type="{{ i.widget_type }}" 
                                    placeholder="{% if i.name == 'days_left' %}{{ task.days_left }}{% else %}{{ task.creation_d }}{% endif %}">
                        </div>
                    {% elif i.name != 'importance' %}
                        <div class="form-group">
                            <label for="{{ i.name }}">{{ i.label }}</label>
                            <input  value="{{ task.title }}"
                                    name="{{ i.name }}" 
                                    min="{% now 'Y-m-d' %}" 
                                    type="{{ i.widget_type }}" 
                                    class="form-control" 
                                    id="{{ i.name }}" 
                                    placeholder="{{ i.help_text }}">
                        </div>
    
                    {% else %}
                        <label for="{{ i.name }}">{{ i.label }}</label>
                        <select name="{{ i.name }}" class="form-select" aria-label="Default select example">
                            <option value="{{ task.importance }}"> {{ task.get_importance_display }}</option>
                            <option value="H">Важно</option>
                            <option value="M">Средне</option>
                            <option value="L">Не важно</option>
                        </select>
                    
                    {% endif %}
                    
                    <br>
                {% endfor %}
                
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn btn-outline-warning">Изменить</button>
                      </div>
                      <div class="col-6">
                      </div>
                      <div class="col-2">
                        <a onclick="confirm_delete();">
                            <button type="button" class="btn btn-outline-danger">Удалить</button>
                        </a>
                      </div>
                    </div>
                </div>
              </form>	
        </div>		
    </div>
</div>

<script>
    document.getElementById("due_date").defaultValue = "{{ due_date }}";
</script>

<script>
    function confirm_delete(){
        var r = confirm("Удалить задачу?");
        if (r == true) {
            window.location.href="{% url 'tasks:delete_task' task.id %}"
        }
    }
</script>